*OUTPUT.bootstrap*
*OUTPUT.darkcrusade*
compilers/*/*.lz
compilers/*/*.log.*
qi/config.mak
qi/etc/qirc
qi/src/qi
qi/*.tar.lz
qi/*.tar.lz.sha256
*.tar.gz
*.tar.bz2
*.tar.lz
*.tar.xz
*.tgz
*.tar
*.zip
*.gem
*.png
*~

# Ignore suffixes at sources/
sources/*.gz
sources/*.bz2
sources/*.lz

# Ignore (possible) decompressed sources at sources/
sources/*/

# Ignore docker specific files
.dockerignore
.dockerenv